* eol=lf text=auto

.editorconfig export-ignore
.gitattributes export-ignore
.github export-ignore
.gitignore export-ignore
CHANGELOG.md export-ignore
composer-dependency-analyser.php export-ignore
package-lock.json export-ignore
package.json export-ignore
phpstan.neon.dist export-ignore
phpunit.xml.dist export-ignore
pint.json export-ignore
rector.php export-ignore
testbench.yaml export-ignore
tests export-ignore
workbench export-ignore
